#lSystemContainer {
  max-width: 800px;
  padding: 10px;
  background-color: #202020;
  color: #FFF;
  input, select {
    font-size: 16px;
  }

  canvas {
    border: solid #FFF 1px;
  }

  .lindenmeyer-system-button {
    padding: 4px;
    display: inline-block;
    font-family: sans-serif;
    border-radius: 3px;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
  }

  .add-symbol-button {
    margin-top: 5px;
    color: #FFF;
    background-color: #0B0;
    &:active {
      background-color: #090;
    }
  }

  .lindenmeyer-system-start-settings {
    display: flex;
    flex-wrap: wrap;
    &> div {
      flex-grow: 1;
    }
    input {
      width: 125px;
    }
  }

  .lindenmeyer-system-symbol {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 5px;
    border-bottom: 1px solid;

    .symbol-section {
      padding: 5px;
      border-right: 1px solid;
    }

    .symbol-name, .symbol-amount {
      width: 30px;
    }

    .symbol-amount {
      margin-left: 3px;
    }

    .delete-symbol-button {
      color: #FFF;
      background-color: #D00;
      &:active {
        background-color: #A00;
      }
    }
  }
}